ul#tools {
float: right;
text-align: right;
list-style-type: none;
}

ul#tools textarea {
display: block;
}

ul#tweettemplate {
display: none;
margin-top: 2em;
}

iframe#tweetpostsink {
display: none;
}

ul#tweets {
margin-left: 4em;
margin-right: 7em;
list-style-type: none;
}

ul#tweets li {
height: 60px;
border-bottom-style: solid;
border-bottom-width: thin;
border-bottom-color: #989aae;;
margin-bottom: .3em;
}

ul#tweets li {
display: block;
margin-left: 3em;
}


a.user img {
display: block;
margin-left: 0em;
margin-right: 0.2em;
float: left;
border-style: none;
}

img.tweet_user_photo {
width: 48px;
height: 48px;
}
