body {
margin-left: 0;
}

.hidden {
display: none;
}

div.error {
width: 100%;
background-color: red;
}

div#toolpanel {
position: fixed;
top: 0;
margin-top: 0;
margin-left: 0;
padding-top: .25em;
padding-left: 0;
padding-bottom: 0;
background-color: RGB(228, 196, 22);
width: 100%;
}

ul#tools {
text-align: center;
list-style-type: none;
margin-bottom: 0;
padding-bottom: 0;
margin-top: 0;
padding-top: 0;
}

ul#tools li  {
display: inline;
}

ul#tools li h3 {
display: inline;
}

ul#tools li form {
display: inline;
}

ul#tools li form * {
display: inline;
background-color: rgb(193, 235, 197);
}


ul#tools textarea {
display: block;
}


ul#tweettemplate {
display: none;
margin-top: 2em;
}

ul#whotemplate {
display: none;
}


iframe#tweetpostsink {
display: none;
}


div#whopanel {
position: fixed;
top: 10%;
left: 20%;
width: 60%;
right: 20%;
height: 60%;
overflow: auto;
z-index: 12;
background-color: RGB(228, 196, 22);
border-style: solid;
border-color: brown;
}

div#whopanel ul li {
display: inline;
}

div#content {
margin-top: 3em;
}

ul#tweets {
margin-left: 4em;
margin-right: 7em;
list-style-type: none;
}

ul#tweets li {
height: 60px;
border-bottom-style: solid;
border-bottom-width: thin;
border-bottom-color: #989aae;;
padding-top: 0.2em;
margin-bottom: 0em;
padding-bottom: 0em;
display: block;
margin-left: 3em;
}

a.user img {
display: block;
margin-left: 0em;
margin-right: 0.2em;
float: left;
border-style: none;
}

img.tweet_user_photo {
width: 48px;
height: 48px;
}

li.tweet div.date {
height: 0px;
margin-top: 0;
padding-top: 0;
z-index: -1;
position: relative;
bottom: -35px;
right: 0;
font-style: italic;
font-size: .75em;
text-align: right;
}

a.tweet-url {
text-decoration: none;
}
